*{margin: 0;padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
html,body{height: 100%;}
body{font-size: 14px;background-color: #fff;}
.clearfix{position: relative;}
.clearfix:after{display: block;clear: both;content: '';}
img{width: 100%;height: 100%;vertical-align: middle;}

.bg-xd{height: 100%;background-color: #fff;background-size: 100% auto;background-repeat: no-repeat;background-position: center;}
.qd-head{position: fixed;width: 100%;background-color: rgba(0,0,0,.4);z-index: 9;}
.qd-h-l{float: left;}
.qd-h-r{float: right;}
.qd-h-r>div{display: inline-block;}
.h-r-hpic{background-size: 100% 100%;background-repeat: no-repeat;background-position: center;width: 48px;height: 48px;padding: 4px;float: left;margin-top: 10px;}

.content{width: 100%;overflow: hidden;position: absolute;top: 50%;transform: translate(0,-50%);}
.barTag{position: relative;width: 158px;height: 56px;float: left;margin: 6px 0;margin-left: 5px;}
.h-r-hpic img{width: 100%;height: 100%;border-radius: 50%;}
.barTag-c{height: 56px;width: 56px;border-radius: 50%;border: 1px solid #d6ba9a;padding: 8px;display: inline-block;position: absolute;z-index: 9;}
.barTag-b{display: inline-block;color: #f4dbb5;position: absolute;top: 9px;z-index: 9;}
.barTag-b p{padding: 8px 10px;background-color: #999999;border: 1px solid #d6ba9a;border-right: none;border-radius: 0;border-bottom-left-radius: 15px;border-top-left-radius: 15px;}
.barTag-c img{border-radius: 50%;z-index: 1;}
.barTag-c+.barTag-b{left: 48px;z-index: 10;}
.barTag-c+.barTag-b p{border: 1px solid #d6ba9a;border-radius: 0;border-bottom-right-radius: 15px;border-top-right-radius: 15px;border-left: none;}
.barTag-b+.barTag-c{left: 114px;z-index: 8;}

.heart-list{text-align: center;height: 752px;overflow: hidden;}
.heart-wrap{width: 900px;display: inline-block;overflow: hidden;}
.heart{position: relative;}
.heart-row{width: 900px;margin: 4px auto;text-align: center;height: 64px;}
.heart-item{display: inline-block;width: 64px;height: 64px;border: 4px solid rgba(219, 77, 115, 0.8);border-radius: 5px;background-color: rgba(219, 77, 115, 0.4);top: 0;}
.heart-item img{width: 100%;height: 100%;border-radius: 50%;vertical-align: 4px;}
.latest-u{position: fixed;width: 450px;height: 450px;border-radius: 10%;background-color: rgba(219, 77, 115, 0.8);padding: 8px;font-size: 40px;color: #fff;
    left: 0;top: -450px;opacity: 0;
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.latest-u img{width: 360px;height: 360px;border-radius: 50%;}
.latest-u>div{border-radius: 10%;background-color: rgba(255,255,255,.2);height: 100%;width: 100%;text-align: center;}


.qd-foot{position: fixed;width: 100%;bottom: 0;background-color: rgba(0,0,0,.4);padding: 10px;}
.qd-foot img{width: 35px;height: auto;}
.qd-f-l1{display: inline-block;padding: 0 10px;}
.qd-f-l1+.qd-f-l1{margin-right: 10px;border-left: 1px dashed #fce2bb;}
.qd-f-btn{display: inline-block;border-radius: 5px;border: 1px solid #f4dbb5;background-color: rgba(0,0,0,.4);color: #f4dbb5;margin: 0 5px;position: relative;overflow: hidden;cursor: pointer;}
.qd-f-btn:hover{box-shadow: 0 0 4px 1px rgba(0,0,0,.2);}
.qd-f-btn>div{display: inline-block;padding: 8px;}
.f-btn-img img{vertical-align: super;}
.f-btn-text{border-left: 1px solid #f4dbb5;}
.b-title{font-size: 18px;}
.fbt-title,.fbt-time{font-size: 12px;}
.fbt-title span{background-color: #f4dbb5;display: inline-block;color: rgba(0,0,0,.6);font-weight: bold;line-height: 1em;width: 12px;height: 12px;text-align: center;border-radius: 50%;}

.qd-f-btn>div.f-btn-i2{text-align: center;padding: 8px 15px;}
.start-btn{line-height: 65px;font-size: 20px;padding: 0 80px;}
.btn-animate{position: absolute;height: 100%;width: 100%;background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.3),rgba(255,255,255,0));left: -100%;
    animation: ab 2.5s linear infinite;z-index: -1;}
@keyframes ab {
    to{left: 100%;}
}
.qd-f-btn.active{background-color: rgba(255,255,255,.2);}
#latest{opacity: 0;width: 360px;height: 360px;position: fixed;border-radius: 50%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;}
.latest-list{position: fixed;height: 100%;right: 0;top: 0;padding: 88px 20px 119px;}
.latest-list>div{height: 100%;background-color: rgba(0,0,0,.4);width: 200px;overflow: hidden;}
.r-head{border-bottom: 1px solid rgba(244,219,181,.4);color: #fff;font-size: 16px;padding: 10px 15px;margin-bottom: 10px;text-align: center;}
.r-u{display: flex;align-items: flex-start;margin: 0 15px;padding: 10px 0;}
.r-u+.r-u{border-top: 1px solid rgba(244,219,181,.4);}
.r-u-h img{width: 40px;height: 40px;border-radius: 50%;}
.r-u-b{flex: 1;margin-left: 5px;}
.r-u-name{color: #fff;}
.r-u-time{font-size: 12px;color: rgba(244,219,181,.6);}
.r-u-title{color: #f4dbb5;}
.l-list{position: fixed;width: 230px;height: 100%;padding: 68px 15px 99px;}
.wrap{height: 100%;overflow: hidden;}
.l-u{display: flex;align-items: flex-start;margin-top: 10px;}
.l-u img{width: 40px;height: 40px;border-radius: 50%;margin-right: 15px;}
.l-u-t{min-height: 40px;background-color: rgba(0,0,0,.4);color: #f4dbb5;padding: 5px;border-radius: 15px;letter-spacing: 1px;position: relative;}
.l-u-t:before{content: '';position: absolute;border-top: 5px solid #fff;border-bottom: 5px solid #fff;border-right: 5px solid rgba(0,0,0,.6);left: -10px;top: 15px;}

.page{display: flex;flex-direction: column;height: 100%;background-position: center;background-size: 100% 100%;background-repeat: no-repeat;}
.container{flex: 1;}
.header,.footer{position: relative;}

