*{margin: 0;padding: 0;box-sizing: border-box;letter-spacing: 1px}
body{font-size: 16px}
li{list-style: none}
.header{
    height: 100px;
    font-size: 16px;
}
input,button,textarea{
    outline: none;
    border: none;
    resize: none;
}
.clearfix{position: relative}
.clearfix:after{clear: both;content: "";display: block}
img{vertical-align: middle;width: 100%;}
.head-l{
    float: left;
    color: #999999;
    padding: 20px 0 10px;
    line-height: 2em;
    height: 100px;
}
.head-l img{
    width: auto;
}
.head-l span{
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}
.head-r{
    float: right;
    height: 100px;
    padding-top: 36px;
}
.head-r li{
    position: relative;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.head-r li>p{
    padding: 20px 10px;
}
.head-r li.active,.head-r li:hover{
    color: #0c5cbd;
    border-bottom: 2px solid #0c5cbd;
}
.head-r li.hasSelect:hover .navSelect{
    height: 80px;
}
.navSelect{
    position: absolute;
    z-index: 99;
    background-color: #92918f;
    color: #444;
    width: 100%;
    left: 0;
    top: 61px;
    text-align: center;
    font-size: 14px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.navSelect div{
    padding: 10px 0;
}
.navSelect div+div{
    border-top: 1px solid #aaa;
}
.navSelect div:hover{
    color: #000;
}
.navSelect div.selected{
    background-color: #084d9b;
    color: #ffffff;
}
.page{
    margin: 0 auto;
    min-height: 800px;
    min-width: 1200px;
    max-width: 1920px;
    opacity: 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.container-padding{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}
.container-row{
    min-width: 1200px;
    margin: 40px 0 0;
    padding: 20px 0 40px;
}
.row{
    position: relative;
    margin: 0 auto;
    min-width: 1200px;
    background-position: 50% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.row:after{
    content: "";
    display: block;
    clear: both;
}
.col-50{
    position: relative;
    width: 50%;
    float: left;
}
.col-25{
    width: 25%;
    float: left;
}
.text-center{
    text-align: center;
}
.title{
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}
.sub-title{
    font-size: 16px;
}
.text-gray-6{
    color: #666;
}
.text-white{
    color: #fff;
}
.faIntro{
    height: 379px;
    padding: 130px 70px 0;
    background-color: #f4f8fb;
    line-height: 1.5em;
}
.bgImg-center{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;
}
.cooperate{
    width: 900px;
    margin: 0 auto;
}
.cooperate .bgImg-center{
    width: 300px;
    height: 200px;
    border: 1px dashed #eee;
}
.banner2{
    position: absolute;
    width: 100%;
    top: 0;
}
.about-item{
    position: relative;
}
.about-item .bgImg-center{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #acd9fa;
    border-radius: 50%;
    top: -35px;
    left: 50%;
    margin-left: -30px;
}
.about-head{
    padding: 50px 0 80px;
    background-color: #acd9fa;
    text-align: center;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}
.about-head p{
    position: relative;
}
.about-head p:after{
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background-color: #ffffff;
    left: 149px;
    bottom: -50px;
}
.about-content{
    position: relative;
    padding: 20px;
    font-size: 14px;
    height: 440px;
    line-height: 2em;
    color: #666666;
}
.about-content.bg1{
    background-color: #f3f7f9;
}
.about-content.bg2{
    background-color: #fbfcfe;
}
.about-content label{
    display: block;
    padding: 10px;
    background-color: #ffffff;
    width: 100%;
    color: #666;
    margin: 20px 0;
}
.about-content textarea{
    width: 100%;

}
.about-content button{
    padding: 10px 20px;
    background-color: #acd9fa;
    color: #ffffff;
    cursor: pointer;
}
.about-content button:active{
    background-color: #9bc3e1;
}
.gsAddressImg{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.footer{
    padding: 20px;
    font-size: 12px;
    background-color: #424242;
    color: #999999;
    text-align: center;
}
.footer img{
    width: auto;
    margin: 5px 0;
}
.gateLockIntro{
    margin-top: 60px;
}
.gateLockIntro p+p{
    padding-top: 10px;
    color: #666666;
}
.dx-title{
    position: relative;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #444444;
    background-image: url("../image/pic_fenjiexian_715x44.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}
/*.dx-title:before,.dx-title:after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*height: 1px;*/
    /*width: 200px;*/
    /*background:#ccc;*/
    /*top: 32px;*/
/*}*/
/*.dx-title:before{*/
    /*right: 60%;*/
/*}*/
/*.dx-title:after{*/
    /*left: 60%;*/
/*}*/
.col-20{
    float: left;
    width: 20%;
}
.col-16{
    float: left;
    width: 16.6%;
}
.coreF-item{
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
    height: 150px;
    padding-top: 35px;
    font-size: 14px;
    color: #666666;
    line-height: 3em;
}
.coreF-item2{
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
    height: 120px;
    padding-top: 28px;
    font-size: 14px;
    color: #666666;
    line-height: 3em;
}
.coreF-item img{
    width: 48px;
}
.coreF-item2 img{
    width: 40px;
}
.technologyReference p+p{
    margin-top: 10px;
    color: #666;
}
.col-33{
    float: left;
    width: 33.3%;
}
.planItem{
    color: #444;
    margin: 10px;
    text-align: center;
    line-height: 2em;
}
.planItem p{
    padding: 10px 0;
}
.planItem button{
    font-size: 16px;
    border: 1px solid #444;
    padding: 10px 50px;
    background-color: #fff;
    cursor: pointer;
}
.planItem button:active{
    background-color: #eeeeee;
}
.menjItem{
    margin: 40px;
    border: 1px solid #eeeeee;
    padding-bottom: 20px;
}
.menjItem p{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #444444;
}
.functionIntro{
    margin: 40px;
}
.functionIntro p{
    line-height: 1.5em;
    padding: 5px 0;
    color: #444444;
}
.col-item{
    position: relative;
    margin: 10px;
}
.col-item .col-item-title{
    font-size: 18px;
    margin-bottom: 5px;
}
.col-item .text-img{
    width: 379px;
    height: 262px;
    overflow: hidden;
}
.col-item .col-item-text{
    padding: 10px 0;
    color: #666666;
    line-height: 2em;
    border: 1px solid #eeeeee;
    font-size: 14px;
    height: 100px;
    text-align: center;
}
.col-item-text .price{
    font-size: 20px;
    color: #ff510f;
    float: right;
    margin-right: 10px;
}
.col-item-text .goodsTitle{
    font-weight: bold;
    font-size: 14px;
    width: 300px;
    height: 28px;
    overflow: hidden;
    padding-left: 10px;
}
.col-item-text .goodsClassify:after{
    display: block;
    content: "";
    clear: both;
}
.goodsAddress{
    position: relative;
    padding: 0 10px 0 35px;
    color: #999999;
    font-size: 12px;
}
.addr-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../image/icon/ico_dingwei_gray_20x20.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    left: 10px;
    top: 4px;
}
.col-item-text .goodsClassify span{
    font-size: 12px;
    padding: 0 10px;
    float: left;
    line-height: 1.5em;
    margin: 5px 0;
}
.col-item-text .goodsClassify span+span{
    border-left: 1px solid #444;
}
.col-item .text-img{
    position: relative;
}
.col-item .text-img p{
    position: absolute;
    z-index: 9;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 80px;
    color: #ffffff;
    font-size: 20px;
}
.col-item20{
    margin: 0 20px;
}
.wxItem{
    text-align: center;
    height: 400px;
    overflow: hidden;
}
.wxItem p{
    padding: 5px;
    text-align: left;
}
.managerItem{
    margin: 40px auto;
    border-radius: 50%;
    background-color: #ffffff;
    color: #0c5cbd;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 20px 0 0;
    font-size: 14px;
}
.managerItem img{
    width: 40px;
}
.oldAppItem{
    background-color: #ffffff;
    padding: 60px 0;
    margin: 20px;
    height: 200px;
    text-align: center;
    line-height: 2.5em;
    color: #444444;
}
.oldAppItem img{
    width: 40px;
}
.banner-bg{
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    height: 820px;
}
.sysEntrance-title{
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,.4);
    font-size: 30px;
    color: #084d9b;
    left: 0;
    top: 300px;
    padding: 40px 0;
}
.sysEntrance-title p{
    width: 800px;
    text-align: center;
    line-height: 2em;
}
.sysEntrance-title .sub-title{
    font-size: 16px;
    color: #084d9b;
}
.sysEntrance-box{
    position: absolute;
    width: 1200px;
    height: 100%;
    left: 50%;
    margin-left: -600px;
}
.loginForm{
    float: right;
    background-color: rgba(255,255,255,.8);
    padding: 60px;
    margin-top: 200px;
}
.loginForm label{
    position: relative;
    display: block;
    width: 300px;
    margin: 20px 0;
}
.loginForm label .cleanInput{
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("../image/ic_chacha_gray_48x48.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px 20px;
    top: 50%;
    margin-top: -12px;
    right: 0;
    cursor: pointer;
    display: none;
}
.loginForm label input{
    width: 100%;
    background-color: rgba(255,255,255,0);
    padding: 10px 60px;
    border-bottom: 1px solid #aaaaaa;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 10px 50%;
    font-size: 16px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.loginForm label input:focus{
    border-color: #0b66ce;
}
.loginTips{
    float: left;
    font-size: 12px;
    color: #ff0000;
    display: none;
}
.wjPassword{
    float: right;
    color: #999999;
    cursor: pointer;
    padding: 4px 10px;
}
.wjPassword:hover{
    color: #0b66ce;
}
.login-btn{
    width: 100%;
    padding: 15px;
    background-color: #084d9b;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 2px;
}
.search-wrap{
    position: absolute;
    width: 100%;
    min-width: 1200px;
    background-color: rgba(0,0,0,.4);
    z-index: 99;
    bottom: 0;
    pointer-events: auto;
}
.search-box{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    overflow: visible;
}
.search-form label{
    position: relative;
    display: inline-block;
    width: 210px;
    padding-right: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    vertical-align: middle;
}
.search-form label+label{
    margin-left: 10px;
}
.search-icon{
    position: absolute;
    background-image: url("../image/search-icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 20px;
    right: 10px;
    top: 5px;
}
.search-form label.search-date span{
    position: absolute;
    color: #999999;
    left: 10px;
    line-height: 30px;
    font-size: 14px;
}
.search-form label.search-date input{
    padding-left: 50px;
}
.search-address .search-icon{
    background-position: 0 0;
}
.search-date .search-icon{
    width: 20px;
    background-position: -19px 0;
}
.search-key .search-icon{
    background-position: -40px 0;
}
.search-form input{
    width: 100%;
    line-height: 30px;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
}
.search-btn{
    width: 120px;
    height: 32px;
    border-radius: 3px;
    background-color: #ff6600;
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
    font-size: 15px;
    margin-left: 10px;
}
.swiper-box{
    position: relative;
}
/*选择城市*/
.search-address-list{
    position: absolute;
    width: 210px;
    max-height: 300px;
    background-color: #eee;
    z-index: 999;
    zoom: 1;
    top: 72px;
    font-size: 14px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
    height: 0;
}
.search-address-list ul{
    overflow-y: scroll;
    height: 100%;
    padding: 10px 0;
}
.search-address-list ul li{
    padding: 5px 10px;
    line-height: 1.5em;
    cursor: pointer;
    border-top: 1px solid #f8f8f8;
}
.search-address-list ul li.active,.search-address-list ul li:hover{
    background-color: #0c5cbd;
    color: #ffffff;
}
.simple-intro{
    padding: 20px 0;
    font-size: 14px;
}
.simple-intro>img{
    float: left;
    width: 48px;
    height: 48px;
}
.simple-intro-text{
    height: 48px;
    margin-left: 48px;
    line-height: 22px;
}
.simple-intro-text p{
    font-size: 12px;
    color: #999;
}
.index-tabs{
    text-align: center;
    margin-bottom: 20px;
}
.index-tabs>ul>li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.index-tabs>ul>li.active{
    color: #ff510f;
    border-bottom: 2px solid #dc763c;
}
#youxuanList .col-item{
    cursor: pointer;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
#youxuanList .col-item:hover{
    -webkit-box-shadow: 0 0 2px 2px #ddd;
    -moz-box-shadow: 0 0 2px 2px #ddd;
    box-shadow: 0 0 6px 2px #ddd;
}
.more-bottom{
    text-align: center;
    width: 300px;
    padding: 10px;
    border: 1px solid #eeeeee;
    margin: 20px auto 0;
    cursor: pointer;
    color: #999999;
    font-size: 16px;
}
.more-bottom:hover{
    color: #333333;
    border-color: #999;
}
.col-item2{
    margin: 40px 10px;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    line-height: 2em;
}
.col-item2 img{
    width: 40px;
}
.col-item-text2{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    padding-top: 100px;
    line-height: 2em;
    color: #ffffff;
}
.cit-title{
    margin-bottom: 5px;
}
.search-condition{
    border: 1px solid #eee;
}
.sc-item{
    padding: 10px 0;
    margin: 0 20px;
    font-size: 12px;
}
.sc-item+.sc-item{
    border-top: 1px solid #eeeeee;
}
.sc-title{
    padding: 5px;
    color: #999999;
    float: left;
    font-weight: bold;
}
.sc-item>ul,.sc-selectList>ul{
    margin-left: 60px;
}
.sc-item li{
    float: left;
    cursor: pointer;
    margin-left: 20px;
    padding-left: 20px;
    background-image: url("../image/icon-list.png");
    background-repeat: no-repeat;
    background-position: -135px -23px;border-radius: 3px;
}
.sc-item li.active{
    background-position: -135px -51px;
}
.sc-item li.active,.sc-item li:hover{
    background-color: #3b83cb;
    color: #ffffff;
}
.sc-item li p{
    padding: 5px;
    letter-spacing: normal;
}
.sc-selectList{
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid #eeeeee;
    border-top: none;
}
.sc-selectList li{
    position: relative;
    float: left;
    padding-right: 28px;
    margin-left: 20px;
    background-color: #cccccc;
    border: 1px solid #eeeeee;
    cursor: pointer;
}
.sc-selectList li i{
    position: absolute;
    width: 18px;
    height: 18px;
    right: 4px;
    top: 4px;
    background-image: url("../image/del-all.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.sc-selectList li:hover{
    border-color: #ff9900;
    background-color: #ff9900;
}
.sc-selectList li:hover i{
    background-position: 100% -18px;
}
.sc-selectList li p{
    padding: 5px;
    background-color: #ffffff;
}
.col-item-img{
    width: 379px;
    height: 232px;
}
.aboutUs .col-50{
    height: 425px;
}
.col-item3{
    height: 100%;
    padding: 40px 20px;
    color: #ffffff;
    line-height: 2em;
}
.col-item3 p.margin-bottom10{
    margin-bottom: 20px;
}
.has-icon{
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 50%;
    font-size: 14px;
    color: #ddd;
}
.margin-bottom10{
    margin-bottom: 10px;
}
.text-gray-9{
    color: #999999;
}
.col-item4{
    height: 450px;
    margin-top: 40px;
}
.col-item4 img{
    height: 100%;
    width: auto;
}
.text-left{
    text-align: left;
}
.twoLevel-title{
    font-size: 18px;
    color: #999999;
    margin-bottom: 10px;
}
.circle-tag{
    position: relative;
    border: 1px solid #ddd;
    margin: 10px;
    width: 100px;
    height: 100px;
    line-height: 1.5em;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
}
.circle-tag p{
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 10px;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.circle-tag.tag1{
    color: #e3a23b;
    border-color: #e3a23b;
}
.circle-tag.tag2{
    color: #29b3d2;
    border-color: #29b3d2;
}
.circle-tag.tag3{
    color: #6ebf28;
    border-color: #6ebf28;
}
.circle-tag.tag4{
    color: #e35fa4;
    border-color: #e35fa4;
}
.dbs-bg{
    width: 400px;
    line-height: 2em;
    color: #666;
}
.dbs-bg span{
    float: left;
    width: 180px;
}
.col-item4 .title{
    margin-top: 0;
}
.dbs-bg li{
    list-style: disc;
}
.circle-tag-list{
    position: absolute;
    width: 100%;
    min-width: 0;
    color: #666;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.col-item5{
    height: 350px;
    margin: 40px 0;
}
.col-item5 img{
    height: 100%;
    width: auto;
}
.jgService{
    position: relative;
    margin: 5px;
    width: 290px;
    height: 340px;
}
.jgService img{
    width: 290px;
    height: 340px;
}
.jgService p{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    color: #ffffff;
    bottom: 0;
    left: 0;
    line-height: 2em;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
}
.otherService{
    margin: 20px;

}
.otherService img{
    width: 560px;
    height: 364px;
}
.otherService p{
    text-align: center;
    background-color: #ffffff;
    font-size: 18px;
    color: #666666;
    padding: 30px 0;
}
.safe-item{
    text-align: center;
    color: #666;
    margin: 20px 0;
}
.safe-item img{
    width: 80px;
    height: 80px;
}
.safe-item p{
    padding: 20px 0;
}
.pensionService{
    height: 485px;
    margin: 10px;
}
.pensionService img{
    width: 100%;
    height: 100%;
}
.ps-l {
    position: relative;
    height: 100%;
}
.ps-r{
    position: relative;
    height: 232px;
}
.ps-r+.ps-r{
    margin-top: 20px;
}
.bg-transparent{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 98;
}
.pensionService-text{
    position: absolute;
    width: 100%;
    top: 50%;
    padding: 0 40px;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    z-index: 99;
    text-align: center;
    color: #eeeeee;
}
.healthTerminal{
    text-align: center;
    line-height: 2.5em;
    color: #666666;
}
.healthTerminal img{
    width: 60px;
    height: 60px;
}
.healthAmusement{
    margin: 40px 10px;
}
.healthAmusement img{
    width: 379px;
    height: 265px;
}
.healthAmusement p{
    color: #666666;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #eeeeee;
}
.about-l{
    position: absolute;
    width: 30%;
    top: -140px;
    z-index: 99;
}
.al-title{
    background-color: #084d9b;
    color: #ffffff;
    text-align: center;
    line-height: 4em;
    padding: 40px 0;
}
.al-title .title{
    position: relative;
    margin: 0;
}
.al-title .title:after{
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 4px;
    width: 80px;
    bottom: -6px;
    left: 140px;
}
.about-r{
    height: 504px;
    width: 70%;
    float: left;
    margin-left: 30%;
    padding-left: 40px;
}
.about-r .title{
    text-align: left;
}
.about-r .has-icon{
    color: #666666;
    line-height: 2em;
}
.about-intro{
    line-height: 1.5em;
    color: #444;
}
.phone-img{
    position: absolute;
    width: 400px;
    right: 0;
    top: -390px;
    z-index: 998;
}
.center-img{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.center-img img{
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.head-r li>p.nav-app{
    position: relative;
    padding-left: 30px;
    background-image: url("../image/icon/nav_ico_app_blue_24x24.png");
    background-repeat: no-repeat;
    -moz-background-size: 24px;
    background-position: 0 50%;
    color: #0c5cbd;
}
.head-r li>p.nav-app:before{
    position: absolute;
    content: "";
    height: 30px;
    width: 1px;
    background-color: #ddd;
    left: -15px;
    top: 20px;
}
.banner-text{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: #ffffff;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    z-index: 99;
}
.banner-text p{
    width: 600px;
    margin: 20px auto;
    line-height: 2em;
}